body {
    background-color: rgb(0, 0, 0);
    background-position: center;
    border-radius: 2.5%;
    opacity: 0.75;
    margin: 5% 10% 5% 10%;
    padding: 0.5% 2.5% 2.5% 2.5%;
    
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1, h2, h3, h4 {
    text-align: center;
}

p.one {
    border-style: solid;
    border-width: small;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0.5%;
}

header {
    text-align: center;
}

html {
    background-image: url("Images for Reference/malenia-cora.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

