body {
    background-color: rgb(221, 220, 211);
    background-position: center;
    border-radius: 0.5%;
    opacity: 0.975;
    margin: 5% 12.5% 5% 12.5%;
    padding: 0% 2.5% 2.5% 2.5%;
    
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(78, 77, 77);
    font-weight: normal;
}

h3.one {
    color:rgb(71, 73, 75);
    font-weight: normal;
}

h4.one {
    color:rgb(139, 143, 143);
    font-weight: normal;
}

p.one {
    border-style: solid;
    border-width: small;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0.5%;
}

p.two {
    text-indent: 1em;
    margin: 1;
}

p.three {
    border-left-style: solid;
    border-color:rgb(168, 170, 172);
}

p.uppercase {
    text-transform: uppercase;
}

img.one {
    float: left;
    width:25%;
    margin-right: 1em;
}

header {
    background-image: linear-gradient(rgb(245, 196, 107), rgba(78,77,77, 0));
}

header {
    text-align: center;
    position: sticky;
    top: 0;
}

html {
    background-image: url("Images for Reference/malenia-cora.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* unvisited link */
a:link {
    color:rgb(56, 55, 51);
    text-decoration: none;
}

/* visited link */
a:visited {
    color:rgb(207, 236, 209);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color:rgb(116, 112, 112);
    text-decoration: underline;
}

/* selected link */
a:active {
    color:rgb(241, 102, 234);
    text-decoration: underline;
}

/* When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover */

/*ul.one {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(245, 196, 107),
     rgba(78,77,77, 0))
}*/

li.one {
    float: left;
}

li.one a {
    display: block;
    text-align: center;
    padding: 1em 1em;
    color: black;
}

li.one a:hover:not(.active) {
        color:rgb(116, 112, 112);
        text-decoration: underline;
}

.active {
    background-image:linear-gradient(rgba(237, 171, 247, 0.9),
    rgba(78,77,77, 0));
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin: 0%;
    border-left-color:rgba(241, 208, 247, 0.9);
    border-right-color:rgba(241, 208, 247, 0.9);
    border-left-style: solid;
    border-right-style: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a.active {
    color:rgb(116, 119, 115);
    text-decoration: underline;
}

ul.one {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
}

ul.topnav {
    list-style-type: none;
    margin-left: -2.5%;
    margin-right: -2.5%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 202, 227);
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: rgb(56, 55, 55);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.topnav li a:hover:not(.active) {
    color: rgb(116, 112, 112);
    text-decoration: underline;
}

ul.topnav li a.active {
    color:rgb(116, 119, 115);
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    ul.topnav li {
        float:none;
    }
}

/* Create columns that float next to each other */
.column {
    float: center;
    width: 100%;
    padding: 1em;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 40em) {
    img.one {
        width: 25%;
    }
}

.scaleB {
    width: 25%;
}
.scale { 
    object-fit: scale-down; 
}

.clearfix {
    overflow: auto;
}

